* {
    box-sizing: border-box;
}

.interior{
    background-color: blue;
    height: 100px;
    width: 100px;
    border: 5px solid white;
    position: absolute;
}

.div1{
    top: 0px;
    left: 0px;
    background-color: red;
}

.div2{
    top: 0px;
    left: 100px;
    background-color: orange;
}

.div3{
    top: 0px;
    left: 200px;
    background-color: yellow;
}

.div4{
    top: 50px;
    left: 45px;

}

.div5{
    background-color: pink;
    top: 50px;
    left: 155px;
}